<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huanju.chen.app.dao.CashAccountMapper">
    <insert id="save" parameterType="cashAccount">
        INSERT INTO cash_account(date, proof_id, abstraction, subject_id, debit_money, credit_money)
        VALUES ( #{date}, #{proofId}, #{abstraction}, #{subjectId}, #{debitMoney}, #{creditMoney})
    </insert>

    <resultMap id="listMap" type="cashAccount">
        <id column="id" property="id"/>
        <result column="date" property="date"/>
        <result column="proof_id" property="proofId"/>
        <result column="abstraction" property="abstraction"/>
        <result column="subject_id" property="subjectId"/>
        <result column="debit_money" property="debitMoney"/>
        <result column="credit_money" property="creditMoney"/>
        <association property="subject">
            <id column="sId" property="id"/>
            <result column="sCode" property="code"/>
            <result column="sName" property="name"/>
        </association>
    </resultMap>


    <select id="list" parameterType="map" resultMap="listMap">
        SELECT c.id           AS id,
               c.date         AS date,
               c.proof_id     AS proof_id,
               c.abstraction  AS abstraction,
               c.subject_id   AS subject_id,
               c.debit_money  AS debit_money,
               c.credit_money AS credit_money,
               s.id           AS sId,
               s.code         AS sCode,
               s.name         AS sName
        FROM cash_account c
                 LEFT JOIN subject s ON s.id = c.subject_id
        <where>
            <if test="startDate!=null and endDate!=null">
                AND date BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        ORDER BY date
        <if test="offset!=null and count!=null">
            LIMIT #{offset},#{count}
        </if>
    </select>

    <select id="count" parameterType="map" resultType="integer">
        SELECT COUNT(id) FROM cash_account
        <where>
            <if test="startDate!=null and endDate!=null">
                AND date BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>

</mapper>