<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huanju.chen.app.dao.LedgerAccountMapper">
    <insert id="save" parameterType="ledgerAccount">
        INSERT INTO ledger_account(date, subject_id, abstraction, debit_money, credit_money)
        VALUES (#{date}, #{subjectId}, #{abstraction}, #{debitMoney}, #{creditMoney})
    </insert>

    <select id="findBySubjectAndDate" resultType="ledgerAccount">
        SELECT id, date, subject_id, abstraction, debit_money, credit_money
        FROM ledger_account
        WHERE subject_id = #{subjectId}
          AND date = #{date}
    </select>

    <update id="update" parameterType="ledgerAccount">
        UPDATE ledger_account
        <set>
            <if test="date!=null">
                date=#{date},
            </if>
            <if test="subjectId!=null">
                subject_id=#{subjectId},
            </if>
            <if test="abstraction!=null and abstraction!=''">
                abstraction=#{abstraction},
            </if>
            <if test="debitMoney!=null">
                debit_money=#{debitMoney},
            </if>
            <if test="creditMoney!=null">
                credit_money=#{creditMoney}
            </if>
        </set>
        WHERE id=#{id}
    </update>


    <select id="list" parameterType="map" resultType="ledgerAccount">
        SELECT l.*
        FROM ledger_account l
                 RIGHT JOIN
             (SELECT id
              FROM ledger_account
              WHERE subject_id = #{subjectId}
                AND date &gt;= #{startDate}
                AND date &lt;= #{endDate}
              ORDER BY date) id_temp
             ON l.id = id_temp.id
    </select>


    <select id="monthStartSumMoney" resultType="sumMoney">
        SELECT SUM(credit_money) AS creditMoney, SUM(debit_money) AS debitMoney
        FROM ledger_account
        WHERE subject_id = #{subjectId}
          AND date &lt; #{date}
    </select>

    <select id="count" parameterType="map" resultType="integer">
        SELECT COUNT(id)
        FROM ledger_account
        WHERE subject_id = #{subjectId}
          AND date &gt;= #{startDate}
          AND date &lt;= #{endDate}
    </select>


</mapper>