<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huanju.chen.app.dao.LedgerAccountMapper">
    <insert id="save" parameterType="ledgerAccount">
        INSERT INTO ledger_account(date, subject_id, abstraction, debit_money, credit_money)
        VALUES (#{date}, #{subjectId}, #{abstraction}, #{debitMoney}, #{creditMoney})
    </insert>

    <select id="findBySubjectAndDate" resultType="ledgerAccount">
        SELECT id, date, subject_id, abstraction, debit_money, credit_money
        FROM ledger_account
        WHERE subject_id = #{subjectId}
          AND date = #{date}
    </select>

    <update id="update" parameterType="ledgerAccount">
        UPDATE ledger_account
        <set>
            <if test="date!=null">
                date=#{date},
            </if>
            <if test="subjectId!=null">
                subject_id=#{subjectId},
            </if>
            <if test="abstraction!=null and abstraction!=''">
                abstraction=#{abstraction},
            </if>
            <if test="debitMoney!=null">
                debit_money=#{debitMoney},
            </if>
            <if test="creditMoney!=null">
                credit_money=#{creditMoney}
            </if>
        </set>
        WHERE id=#{id}
    </update>


    <select id="list" parameterType="map" resultType="ledgerAccount">
        SELECT id, date, subject_id, abstraction, debit_money, credit_money
        FROM ledger_account
        <where>
            <if test="subjectId!=null">
                AND subject_id=#{subjectId}
            </if>
            <if test="startDate!=null and endDate!=null">
                AND date &gt;= DATE_FORMAT(#{startDate},'%Y-%m-%d') AND date &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d')
            </if>
        </where>
        ORDER BY date
    </select>

    <select id="monthStartSumMoney" resultType="sumMoney">
        SELECT SUM(credit_money) AS creditMoney, SUM(debit_money) AS debitMoney
        FROM ledger_account
        WHERE subject_id=#{subjectId} AND date &lt; DATE_FORMAT(#{date},'%Y-%m-%d')
    </select>



</mapper>