<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huanju.chen.app.dao.SubAccountMapper">
    <insert id="save" parameterType="subAccount">
        INSERT INTO sub_account(date, proof_id, abstraction, subject_id, debit_money, credit_money)
        VALUES (#{date}, #{proofId}, #{abstraction}, #{subjectId}, #{debitMoney}, #{creditMoney})
    </insert>


    <select id="list" parameterType="map" resultType="subAccount">
        SELECT s.*
        FROM sub_account s
                 RIGHT JOIN
             (SELECT id
              FROM sub_account
              WHERE subject_id = #{subjectId}
                AND date &gt;= #{startDate}
                AND date &lt;= #{endDate}
              ORDER BY date) id_temp
             ON s.id = id_temp.id
    </select>

    <select id="monthStartSumMoney" resultType="sumMoney">
        SELECT SUM(credit_money) AS creditMoney, SUM(debit_money) AS debitMoney
        FROM sub_account
        WHERE subject_id = #{subjectId}
          AND date &lt; #{date}
    </select>

    <select id="count" parameterType="map" resultType="integer">
        SELECT COUNT(id)
        FROM sub_account
        WHERE subject_id = #{subjectId}
          AND date &gt;= #{startDate}
          AND date &lt;= #{endDate}
    </select>


</mapper>