<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huanju.chen.app.dao.SubjectMapper">
    <insert id="save" parameterType="subject">
        INSERT INTO subject(id, name, subject_type, remark,valid)
        VALUES (#{id},#{name},#{subjectType},#{remark},#{valid})
    </insert>

    <update id="update" parameterType="subject">
        UPDATE subject
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="subjectType!=null">
                subject_type=#{subjectType},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
            <if test="valid!=null">
                valid=#{valid},
            </if>
        </set>
        WHERE id=#{id}
    </update>


    <select id="find" parameterType="int" resultType="subject">
        SELECT *
        FROM subject
        WHERE id = #{key}
    </select>

    <select id="findByName" parameterType="string" resultType="subject">
        SELECT *
        FROM subject
        WHERE name = #{name}
    </select>

    <select id="listByLimit" resultType="subject">
        SELECT *
        FROM subject
        LIMIT #{start},#{count}
    </select>


    <select id="listByEnabled" resultType="subject">
        SELECT * FROM subject WHERE valid=TRUE
    </select>

</mapper>