<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huanju.chen.app.dao.SubjectMapper">
    <insert id="save" parameterType="subject">
        INSERT INTO subject(id, name, valid, `describe`)
        VALUES (NULL, #{name}, 1, #{describe})
        <selectKey resultType="integer" order="AFTER" keyColumn="id" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update" parameterType="subject">
        UPDATE subject
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="valid!=null">
                valid=#{valid},
            </if>
            <if test="describe!=null and describe!=''">
                `describe`=#{describe},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE
        FROM subject
        WHERE id = #{key}
    </delete>

    <select id="find" parameterType="int" resultType="subject">
        SELECT *
        FROM subject
        WHERE id = #{key}
    </select>

    <select id="findByName" parameterType="string" resultType="subject">
        SELECT *
        FROM subject
        WHERE name = #{name}
    </select>

    <select id="listByLimit" resultType="subject">
        SELECT *
        FROM subject
        LIMIT #{start},#{count}
    </select>

</mapper>