<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huanju.chen.app.dao.SubjectMapper">
    <insert id="save" parameterType="subject">
        INSERT INTO subject(id, name, category, days_kind, remark, valid)
        VALUES (#{id}, #{name}, #{category}, #{daysKind}, #{remark}, #{valid})
    </insert>

    <update id="update" parameterType="subject">
        UPDATE subject
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="subjectType!=null">
                subject_type=#{subjectType},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
            <if test="valid!=null">
                valid=#{valid},
            </if>
        </set>
        WHERE id=#{id}
    </update>


    <select id="find" parameterType="int" resultType="subject">
        SELECT *
        FROM subject
        WHERE id = #{key}
    </select>

    <select id="findByName" parameterType="string" resultType="subject">
        SELECT *
        FROM subject
        WHERE name = #{name}
    </select>

    <select id="listByLimit" resultType="subject">
        SELECT *
        FROM subject
        LIMIT #{start},#{count}
    </select>


    <select id="listByEnabled" resultType="subject">
        SELECT *
        FROM subject
        WHERE valid = TRUE
    </select>

    <select id="list" parameterType="map" resultType="subject">
        SELECT * FROM subject
        <where>
            <if test="selectWord!=null and selectWord!=''">
                name LIKE CONCAT('%',#{selectWord},'%')
            </if>
            <if test="category!=null">
                AND category=#{category}
            </if>
            <if test="daysKind!=null">
                AND days_kind=#{daysKind}
            </if>

            <if test="valid!=null">
                AND valid=#{valid}
            </if>
        </where>
        <if test="desc!=null and desc">
                ORDER BY id DESC
        </if>


        <if test="offset!=null and count!=null">
            LIMIT #{offset},#{count}
        </if>
    </select>


</mapper>