<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huanju.chen.app.dao.UserMapper">
    <insert id="save" parameterType="user">
        INSERT INTO user(id, username, password, role, phone, join_time, valid)
        VALUES (null, #{username}, #{password}, #{role}, #{phone}, #{joinTime}, 1)
    </insert>

    <select id="find" resultType="user">
        SELECT * FROM user WHERE id=#{key}
    </select>

    <select id="findUserByUsernameAndPassword" resultType="user">
        SELECT *
        FROM user
        WHERE username = #{username}
          AND password = #{password}
    </select>

    <select id="findByName" resultType="user" parameterType="string">
        SELECT *
        FROM user
        WHERE username = #{name}
    </select>

    <select id="listByStart" resultType="user" parameterType="int">
        SELECT id, username, role, phone, join_time, valid
        FROM user
        ORDER BY id DESC
        LIMIT #{start},#{length}
    </select>


</mapper>